* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@font-face {
  font-family: 'Muller Medium';
  src: url("../fonts/MullerMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: url("../fonts/ofont.ru_Muller.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Bold';
  src: url("../fonts/ofont.ru_Muller (1).ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Light';
  src: url("../fonts/MullerLight.eot") format("eot"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Light Italic';
  src: url("../fonts/Fontfabric - MullerLightItalic.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muller Light', sans-serif;
  color: #000;
}

h2, h3 {
  margin: 0;
}

img {
  max-width: 100%;
}

.section {
  padding: 60px 0;
}

.section-title {
  font-size: 33px;
  font-family: 'Muller Medium', sans-serif;
  color: #000;
  text-align: center;
  padding-bottom: 50px;
}

.button-o {
  display: block;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 17px 50px;
  font-size: 16px;
  font-family: 'Muller Bold', sans-serif;
  margin: auto;
  color: #fff;
  background-color: transparent;
  margin-top: 60px;
  cursor: pointer;
}

.bg-secondary {
  background: #f8f2e4;
  height: 530px;
}

.bg-travel {
  background-color: #f8f2e4;
  height: 460px;
  position: relative;
}

.bg-program {
  background-color: #f8f2e4;
  height: 460px;
  position: relative;
}

.ayurveda-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 950px;
  margin: auto;
  padding-top: 120px;
}

.bg-instructors {
  background-color: #f8f2e4;
  height: 955px;
}

.bg-features {
  background-color: #f8f2e4;
  height: 750px;
}

.bg-cost {
  background-color: #f8f2e4;
  height: 1230px;
}

.bg-contacts {
  background-color: #f8f2e4;
  height: 400px;
}

@media (max-width: 320px) {
  .section {
    padding: 40px 0;
  }
  .button-o {
    padding: 15px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .bg-secondary {
    height: 980px;
  }
  .yogatour-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .bg-secondary {
    height: 930px;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .section-title {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .bg-travel {
    height: 1200px;
  }
}

@media (max-width: 480px) {
  .bg-travel {
    height: 750px;
  }
}

@media (max-width: 768px) {
  .bg-program {
    height: 1200px;
  }
}

@media (max-width: 480px) {
  .bg-program {
    height: 750px;
  }
}

@media (max-width: 480px) {
  .ayurveda-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .ayurveda-item {
    padding-top: 50px;
  }
}

@media (max-width: 480px) {
  .bg-instructors {
    height: 700px;
  }
}

@media (max-width: 320px) {
  .bg-instructors {
    height: 500px;
  }
}

@media (max-width: 320px) {
  .icon-block {
    max-width: 170px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .bg-features {
    height: 950px;
  }
  .section-title {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .bg-features {
    height: 1570px;
  }
  .section-title {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .bg-cost {
    height: 1080px;
  }
}

@media (max-width: 320px) {
  .bg-cost {
    height: 970px;
  }
}

@media (max-width: 480px) {
  .bg-contacts {
    height: 500px;
  }
}

@media (max-width: 320px) {
  .bg-contacts {
    height: 720px;
  }
}

.header {
  background: url(../img/header/bg_yoga.png) no-repeat;
  height: 663px;
  background-position: center;
  color: #fff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-box {
  text-align: center;
  padding-top: 30px;
}

.navbar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 90px;
}

.navbar__logo {
  background: url("../img/header/bg_logo.png") no-repeat;
  width: 80px;
  height: 160px;
}

.navbar__mobile {
  padding-top: 18px;
  text-align: right;
}

.navbar__free-call {
  display: block;
  font-size: 14px;
  font-family: 'Muller Regular', sans-serif;
  margin-bottom: 5px;
}

.navbar__phone {
  font-size: 17px;
  font-family: 'Muller Bold', sans-serif;
  text-decoration: none;
  color: #fff;
}

.navbar__title {
  font-size: 50px;
  font-family: 'Muller Medium', sans-serif;
  text-transform: uppercase;
}

.navbar__subtitle {
  font-size: 20px;
  font-family: 'Muller Regular', sans-serif;
  text-transform: uppercase;
}

.navbar__subtitle2 {
  font-size: 15px;
  font-family: 'Muller Regular', sans-serif;
}

.navbar__vkontakte {
  background: url(../img/header/icon_vkontakte.png) no-repeat;
  width: 26px;
  height: 26px;
}

.navbar__facebook {
  background: url(../img/header/icon_facebook.png) no-repeat;
  width: 26px;
  height: 26px;
  margin-left: 7px;
}

.navbar__instagram {
  background: url(../img/header/icon_instagram.png) no-repeat;
  width: 26px;
  height: 26px;
  margin-left: 7px;
}

@media (max-width: 480px) {
  .navbar__title {
    font-size: 35px;
  }
}

@media (max-width: 320px) {
  .navbar-box {
    padding-top: 50px;
  }
  .navbar__mobile {
    display: none;
  }
  .navbar__title {
    font-size: 22px;
  }
  .navbar__subtitle {
    font-size: 15px;
  }
}

.yogatour-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.yogatour__img {
  background: url(../img/yogatour/img_yoga.png) no-repeat;
  width: 350px;
  height: 440px;
  margin-top: 45px;
}

.yogatour__box {
  max-width: 340px;
  margin-top: 70px;
}

.yogatour__title {
  font-size: 25px;
  letter-spacing: 1.5px;
  font-family: 'Muller Medium', sans-serif;
}

.yogatour__span {
  font-size: 40px;
  font-family: 'Muller Medium', sans-serif;
  text-transform: uppercase;
  padding-top: 15px;
}

.yogatour__text {
  font-size: 15px;
  font-family: 'Muller Light Italic', sans-serif;
  padding-top: 25px;
}

.yogatour__mat {
  background: url(../img/yogatour/yoga_mat.png) no-repeat;
  width: 30px;
  height: 20px;
}

.yogatour__mor {
  background: url(../img/yogatour/yoga_more.png) no-repeat;
  width: 30px;
  height: 22px;
}

.yogatour__telegram {
  background: url(../img/yogatour/yoga_telegram.png) no-repeat;
  width: 27px;
  height: 28px;
}

.yogatour__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

.yogatour__item {
  padding-left: 15px;
  font-size: 16px;
  font-family: 'Muller Light Italic', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .yogatour__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .yogatour__img {
    margin: 60px auto;
  }
  .yogatour__box {
    margin-top: 0;
    margin: auto;
  }
  .yogatour__title {
    text-align: center;
  }
  .yogatour__network {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .yogatour__img {
    background: url(../img/yogatour/img_yoga_media.png) no-repeat;
    width: 260px;
    height: 327px;
  }
  .yogatour__box {
    margin-top: 10px;
  }
  .yogatour__span {
    font-size: 35px;
  }
  .yogatour__title, .yogatour__text {
    text-align: center;
  }
  .yogatour__blocks {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .yogatour__item {
    font-size: 10px;
  }
}

.triptour-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.triptour-block__item {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  text-align: center;
}

.triptour-block__text {
  font-size: 14px;
  font-family: 'Muller Regular', sans-serif;
}

@media (max-width: 480px) {
  .triptour-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .triptour-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-top: 20px;
  }
}

@media (max-width: 320px) {
  .triptour-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.travel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.travel__yoga {
  background: url(../img/travel/yoga.png) no-repeat;
  width: 350px;
  height: 367px;
}

.travel__therapy {
  background: url(../img/travel/therapy.png) no-repeat;
  background-size: cover;
  color: #fff;
  width: 780px;
  height: 400px;
  position: relative;
  margin: 0 20px;
}

.travel__more {
  background: url(../img/travel/more.png) no-repeat;
  width: 352px;
  height: 367px;
}

.travel__box {
  position: absolute;
  top: 40%;
  left: 26%;
}

.travel__ayurveda {
  font-size: 17px;
  font-family: 'Muller Medium', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0 50px;
}

.travel__text {
  font-size: 14px;
  font-family: 'Muller Regular', sans-serif;
  text-align: center;
}

@media (max-width: 768px) {
  .travel-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .travel__yoga {
    background: url(../img/travel/yogamedia.png) no-repeat;
    width: 650px;
    height: 367px;
  }
  .travel__therapy {
    background: url(../img/travel/therapymedia.png) no-repeat;
    width: 650px;
    height: 366px;
    margin: 20px;
  }
  .travel__more {
    background: url(../img/travel/moremedia.png) no-repeat;
    width: 650px;
    height: 367px;
  }
}

@media (max-width: 480px) {
  .travel__box {
    display: none;
  }
  .travel__yoga {
    background: url(../img/travel/yogamedia480.png) no-repeat;
    width: 400px;
    height: 226px;
  }
  .travel__therapy {
    background: url(../img/travel/therapymedia480.png) no-repeat;
    width: 400px;
    height: 226px;
    margin: 20px;
  }
  .travel__more {
    background: url(../img/travel/moremedia480.png) no-repeat;
    width: 400px;
    height: 226px;
  }
}

.schedule {
  margin-top: 140px;
}

.schedule-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.schedule__item {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin: 8px auto;
  background-color: #fff8e6;
}

.schedule__section {
  text-align: center;
  padding-top: 18px;
}

.schedule__date {
  font-size: 12px;
  font-family: 'Muller Light Italic', sans-serif;
  text-align: center;
}

.schedule__reduction {
  font-size: 15px;
  font-family: 'Muller Medium', sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.schedule__link {
  font-size: 10px;
  font-family: 'Muller Regular', sans-serif;
  padding-top: 15px;
}

.schedule__btn {
  display: block;
  border: 1px solid #e28234;
  font-size: 10px;
  font-family: 'Muller Bold', sans-serif;
  color: #e28234;
  text-transform: uppercase;
  padding: 9px 16px;
  margin: 10px auto;
  cursor: pointer;
}

.schedule__btn:hover {
  background-color: #e28234;
  color: #fff;
}

@media (max-width: 480px) {
  .schedule__item {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
}

@media (max-width: 320px) {
  .schedule__item {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.program-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__boxing {
  background: url(../img/program/boxing.png) no-repeat;
  width: 350px;
  height: 365px;
}

.program__second {
  background: url(../img/program/second.png) no-repeat;
  background-size: cover;
  color: #fff;
  width: 780px;
  height: 440px;
  position: relative;
  margin: 0 20px;
}

.program__third {
  background: url(../img/program/third.png) no-repeat;
  width: 350px;
  height: 365px;
}

.program__box {
  position: absolute;
  top: 40%;
  left: 30%;
}

.program__day {
  font-size: 24px;
  font-family: 'Muller Medium', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0 100px;
}

.program__text {
  font-size: 13px;
  font-family: 'Muller Regular', sans-serif;
  text-align: center;
  line-height: 18px;
}

@media (max-width: 768px) {
  .program-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .program__boxing {
    background: url(../img/program/boxingmedia.png) no-repeat;
    width: 650px;
    height: 367px;
  }
  .program__second {
    background: url(../img/program/secondmedia.png) no-repeat;
    width: 650px;
    height: 366px;
    margin: 20px;
  }
  .program__third {
    background: url(../img/program/thirdmedia.png) no-repeat;
    width: 650px;
    height: 367px;
  }
}

@media (max-width: 480px) {
  .program__box {
    display: none;
  }
  .program__boxing {
    background: url(../img/program/boxingmedia480.png) no-repeat;
    width: 400px;
    height: 226px;
  }
  .program__second {
    background: url(../img/program/secondmedia480.png) no-repeat;
    width: 400px;
    height: 226px;
    margin: 20px;
  }
  .program__third {
    background: url(../img/program/thirdmedia480.png) no-repeat;
    width: 400px;
    height: 226px;
  }
}

@media (max-width: 320px) {
  .program__boxing, .program__third {
    background-position: center;
    margin: 0 20px;
  }
  .program__second {
    background-position: center;
  }
}

.ayurveda {
  margin-top: 160px;
}

.ayurveda__text1, .ayurveda__text2 {
  font-size: 16px;
  font-family: 'Muller Light', sans-serif;
  text-align: center;
}

.ayurveda__text2 {
  padding-bottom: 40px;
}

.ayurveda__block {
  max-width: 610px;
  margin: auto;
}

.ayurveda__program {
  font-size: 23px;
  font-family: 'Muller Medium', sans-serif;
}

.ayurveda__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.ayurveda__section {
  padding-top: 50px;
}

.ayurveda__advice {
  font-size: 17px;
  font-family: 'Muller Light', sans-serif;
  padding-left: 25px;
}

.ayurveda__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
}

.ayurveda__img {
  padding: 10px;
  width: 33.3%;
}

.ayurveda__text3 {
  padding: 30px 0 0 30px;
  max-width: 860px;
}

.ayurveda__centr {
  font-size: 30px;
  font-family: 'Muller Medium', sans-serif;
}

.ayurveda__india {
  font-size: 15px;
  font-family: 'Muller Light', sans-serif;
}

.ayurveda__text {
  font-size: 13px;
  font-family: 'Muller Light', sans-serif;
}

.ayurveda__text4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.ayurveda__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 10px;
}

.ayurveda__items {
  font-size: 12px;
  font-family: 'Muller Light', sans-serif;
  padding-left: 10px;
  max-width: 200px;
}

.ayurveda__blocks2 {
  padding-left: 35px;
}

@media (max-width: 768px) {
  .ayurveda__img {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .ayurveda__program {
    font-size: 16px;
  }
  .ayurveda__image {
    max-width: 400px;
    margin: auto;
  }
  .ayurveda__text3 {
    max-width: 380px;
    margin: auto;
    padding-left: 0;
  }
}

@media (max-width: 320px) {
  .ayurveda__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ayurveda__advice {
    font-size: 14px;
    text-align: center;
  }
  .ayurveda__text {
    text-align: center;
  }
  .ayurveda__text1, .ayurveda__text2 {
    font-size: 13px;
  }
  .ayurveda__program {
    font-size: 14px;
    text-align: center;
  }
  .ayurveda__text3 {
    max-width: 250px;
  }
  .ayurveda__centr {
    font-size: 22px;
  }
  .ayurveda__india {
    font-size: 14px;
  }
}

.instructors__img1 {
  background: url(../img/instructors/instructors_img1.png) no-repeat;
  width: 750px;
  height: 431px;
  position: relative;
}

.instructors__img2 {
  background: url(../img/instructors/instructors_img2.png) no-repeat;
  width: 750px;
  height: 431px;
  margin-top: 20px;
  position: relative;
}

.instructors__image {
  max-width: 750px;
  margin: auto;
}

.instructors__block {
  width: 750px;
  height: 137px;
  background-color: #80878e;
  opacity: 0.6;
  position: absolute;
  top: 68%;
}

.instructors__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 68%;
  left: 7%;
}

.instructors__name {
  font-size: 18px;
  font-family: 'Muller Bold', sans-serif;
}

.instructors__profession {
  font-size: 12px;
  font-family: 'Muller Regular', sans-serif;
  max-width: 87px;
}

.instructors__hr {
  border-right: 1px solid #fff;
  height: 70px;
  margin-top: 30px;
}

.instructors__province {
  font-size: 13px;
  font-family: 'Muller Regular', sans-serif;
  display: block;
  padding-left: 30px;
  max-width: 450px;
}

.instructors__item {
  display: block;
  color: #fff;
  padding-right: 30px;
  padding-top: 15px;
}

@media (max-width: 768px) {
  .instructors__img1 {
    background: url(../img/instructors/instructors_img1media.png) no-repeat;
    width: 650px;
    height: 373px;
    margin: auto;
    margin-bottom: 20px;
  }
  .instructors__img2 {
    background: url(../img/instructors/instructors_img2media.png) no-repeat;
    width: 650px;
    height: 373px;
    margin: auto;
  }
  .instructors__block {
    width: 650px;
    height: 120px;
  }
  .instructors__name {
    font-size: 15px;
  }
  .instructors__province {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .instructors__img1 {
    background: url(../img/instructors/instructors_img1media480.png) no-repeat;
    width: 400px;
    height: 230px;
  }
  .instructors__img2 {
    background: url(../img/instructors/instructors_img2media480.png) no-repeat;
    width: 400px;
    height: 230px;
  }
  .instructors__block {
    width: 400px;
    height: 100px;
    top: 57%;
  }
  .instructors__item {
    padding-top: 10px;
  }
  .instructors__box {
    top: 53%;
  }
  .instructors__hr {
    margin-top: 20px;
  }
  .instructors__name {
    font-size: 13px;
  }
  .instructors__province {
    font-size: 10px;
  }
  .instructors__profession {
    font-size: 9px;
  }
}

@media (max-width: 320px) {
  .instructors__img1 {
    background: url(../img/instructors/instructors_img1media320.png) no-repeat;
    width: 250px;
    height: 144px;
  }
  .instructors__img2 {
    background: url(../img/instructors/instructors_img2media320.png) no-repeat;
    width: 250px;
    height: 144px;
  }
  .instructors__block {
    display: none;
  }
  .instructors__hr {
    display: none;
  }
  .instructors__item {
    padding: 0;
  }
  .instructors__name {
    font-size: 11px;
  }
  .instructors__profession, .instructors__province {
    font-size: 7px;
  }
}

.reviews {
  margin-top: 100px;
}

.reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviews__box {
  max-width: 490px;
}

.reviews__img {
  background: url(../img/reviews/reviews_img.png) no-repeat;
  width: 150px;
  height: 150px;
}

.reviews__name {
  font-size: 18px;
  font-family: 'Muller Medium', sans-serif;
  display: block;
}

.reviews__email {
  font-size: 13px;
  font-family: 'Muller Light', sans-serif;
  color: #ff0000;
}

.reviews__text {
  font-size: 15px;
  font-family: 'Muller Light Italic', sans-serif;
}

@media (max-width: 768px) {
  .reviews {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .reviews {
    margin-top: 0;
  }
  .reviews-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
    margin: auto;
  }
  .reviews__img {
    margin: auto;
  }
  .reviews__name {
    text-align: center;
    margin-top: 20px;
  }
  .reviews__email {
    text-align: center;
  }
  .reviews__text {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .reviews__text {
    text-align: center;
    font-size: 13px;
  }
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.features-block__item {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  text-align: center;
  margin-bottom: 30px;
}

.features-block__heading {
  font-size: 17px;
  font-family: 'Muller Bold', sans-serif;
}

.features-block__text {
  font-size: 14px;
  font-family: 'Muller Light', sans-serif;
}

@media (max-width: 480px) {
  .features-block__item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .features-block__text {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .features-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work__design {
  text-align: center;
  font-size: 17px;
  font-family: 'Muller Light Italic', sans-serif;
}

.work-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.work__img {
  display: block;
  margin: auto;
}

.work__text, .work__link {
  font-size: 10px;
  font-family: 'Muller Regular', sans-serif;
  text-align: center;
}

.work__link {
  color: #ea7231;
}

@media (max-width: 768px) {
  .work-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__item {
    padding-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .work__design {
    font-size: 12px;
  }
  .work-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 450px;
    margin: auto;
  }
  .work__item {
    padding-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .work-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cost-wrap {
  width: 700px;
  height: 250px;
  background-color: #fff;
  position: relative;
  margin: auto;
}

.cost__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.cost__day {
  font-size: 16px;
  font-family: 'Muller Bold', sans-serif;
}

.cost__program {
  font-size: 16px;
  font-family: 'Muller Regular', sans-serif;
  line-height: 30px;
}

.cost__euro {
  font-size: 16px;
  font-family: 'Muller Medium', sans-serif;
  color: #dd490f;
  display: block;
  padding-top: 23px;
}

.cost__section2 {
  display: block;
}

.cost__block {
  width: 700px;
  height: 60px;
  background-color: #f4e1b6;
  position: absolute;
  top: 80%;
}

.cost__text {
  font-size: 16px;
  font-family: 'Muller Medium', sans-serif;
}

.cost__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5px;
}

.cost__btn {
  display: block;
  text-transform: uppercase;
  border: 2px solid #e28234;
  background-color: #f4e1b6;
  color: #e28234;
  font-size: 10px;
  font-family: 'Muller Bold', sans-serif;
  width: 20%;
  margin: 8px 0;
}

.cost__included {
  font-size: 23px;
  font-family: 'Muller Medium', sans-serif;
  text-align: center;
  padding-top: 20px;
}

.cost__item1 {
  font-size: 15px;
  font-family: 'Muller Regular', sans-serif;
  padding-left: 20px;
}

.cost__eurorate {
  font-size: 17px;
  font-family: 'Muller Bold', sans-serif;
  text-align: center;
}

.cost__check {
  background: url(../img/cost/check.png) no-repeat;
  width: 14px;
  height: 10px;
}

.cost__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cost__box2 {
  max-width: 600px;
  margin: auto;
}

.cost__delet {
  background: url(../img/cost/delet.png) no-repeat;
  width: 9px;
  height: 9px;
}

@media (max-width: 480px) {
  .cost-wrap {
    width: 100%;
    height: 200px;
  }
  .cost__block {
    width: 100%;
    height: 50px;
  }
  .cost__box {
    padding-top: 10px;
  }
  .cost__program, .cost__day {
    font-size: 12px;
  }
  .cost__euro {
    font-size: 14px;
  }
  .cost__text {
    font-size: 12px;
  }
  .cost__btn {
    font-size: 9px;
  }
  .cost__item1 {
    font-size: 12px;
    padding-left: 24px;
  }
  .cost__box2 {
    max-width: 400px;
  }
  .cost__eurorate {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .cost-wrap {
    height: 170px;
  }
  .cost__program, .cost__day {
    font-size: 7px;
  }
  .cost__euro {
    font-size: 9px;
  }
  .cost__text {
    font-size: 7px;
  }
  .cost__btn {
    font-size: 6px;
    border: 1px solid;
  }
  .cost__block {
    height: 35px;
  }
  .cost__included {
    font-size: 18px;
  }
  .cost__item1, .cost__eurorate {
    font-size: 11px;
  }
  .cost__check, .cost__delet {
    display: none;
  }
}

.document__text {
  font-size: 13px;
  font-family: 'Muller Light Italic', sans-serif;
  text-align: center;
}

.document__heading {
  font-size: 23px;
  font-family: 'Muller Medium', sans-serif;
  text-align: center;
  padding-top: 40px;
}

.document__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.document__img1 {
  background: url(../img/document/img-1.png) no-repeat;
  width: 110px;
  height: 141px;
}

.document__img2 {
  background: url(../img/document/img-2.png) no-repeat;
  width: 110px;
  height: 141px;
}

.document__img3 {
  background: url(../img/document/img-3.png) no-repeat;
  width: 110px;
  height: 141px;
}

.document__img4 {
  background: url(../img/document/img-4.png) no-repeat;
  width: 110px;
  height: 141px;
}

.document__text1 {
  font-size: 11px;
  font-family: 'Muller Regular', sans-serif;
  text-align: center;
}

.document__img {
  display: block;
  margin: auto;
}

@media (max-width: 480px) {
  .document__text {
    font-size: 11px;
  }
  .document__heading {
    font-size: 18px;
  }
  .document__text1 {
    font-size: 9px;
  }
  .document__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 280px;
    margin: auto;
    padding-top: 20px;
  }
}

@media (max-width: 320px) {
  .document__text {
    font-size: 10px;
  }
  .document__heading {
    font-size: 12px;
  }
  .document__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .document__box {
    padding-bottom: 20px;
  }
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts__heading {
  font-size: 20px;
  font-family: 'Muller Medium', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.contacts__text {
  font-size: 15px;
  font-family: 'Muller Medium', sans-serif;
}

.contacts__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__vk {
  background: url(../img/contacts/vk.png) no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 14px;
}

.contacts__fs {
  background: url(../img/contacts/fs.png) no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 14px;
}

.contacts__inst {
  background: url(../img/contacts/inst.png) no-repeat;
  width: 40px;
  height: 40px;
}

.contacts__text2 {
  font-size: 10px;
  font-family: 'Muller Light Italic', sans-serif;
}

.contacts__text3 {
  font-size: 15px;
  font-family: 'Muller Medium', sans-serif;
  text-align: center;
}

.contacts__tel {
  font-size: 28px;
  font-family: 'Muller Bold', sans-serif;
  color: #000;
  text-decoration: none;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts__map1 {
  background: url(../img/contacts/map-1.png) no-repeat;
  width: 200px;
  height: 80px;
}

.contacts__map2 {
  background: url(../img/contacts/map-2.png) no-repeat;
  width: 200px;
  height: 80px;
}

.contacts__map3 {
  background: url(../img/contacts/map-3.png) no-repeat;
  width: 200px;
  height: 80px;
}

.contacts__maptext {
  font-size: 11px;
  font-family: 'Muller Regular', sans-serif;
}

@media (max-width: 480px) {
  .contacts__heading {
    font-size: 18px;
  }
  .contacts__text {
    font-size: 12px;
  }
  .contacts__text2 {
    font-size: 9px;
  }
  .contacts__tel {
    font-size: 21px;
  }
  .contacts__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts__text3 {
    padding-top: 30px;
  }
}

@media (max-width: 320px) {
  .contacts__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__text {
    text-align: center;
  }
  .contacts__block2, .contacts__block3 {
    margin-top: 20px;
  }
}

.footer {
  background-color: #000;
  height: 90px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.footer__logo {
  background: url("../img/footer/footer-logo.png") no-repeat;
  width: 51px;
  height: 66px;
  margin-right: 25px;
}

.footer__text {
  font-size: 10px;
  font-family: 'Muller Regular', sans-serif;
  display: block;
}

.footer__email {
  font-size: 16px;
  font-family: 'Muller Regular', sans-serif;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .footer {
    height: 160px;
  }
  .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__text {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer__email {
    font-size: 14px;
  }
  .footer__text {
    font-size: 9px;
  }
}
/*# sourceMappingURL=style.css.map */