body
  margin: 0
  padding: 0
  +regular
  color: $text-color
.button-o
  display: block
  text-transform: uppercase
  border: 2px solid #fff
  padding: 17px 50px
  font-size: 16px
  +bold
  margin: auto
  color: $text-color
  background-color: transparent
  margin-top: 60px
.bg-secondary
  background: $bg-secondary
  height: 530px
@media (max-width: 320px)
  .button-o
    padding: 15px 20px
    font-size: 14px