.document
  &__text
    font-size: 13px
    +lightitalic
    text-align: center
  &__heading
    font-size: 23px
    +medium
    text-align: center
    padding-top: 40px
  &__block
    display: flex
    justify-content: space-around
    padding-top: 15px
  &__img1
    background: url(../img/document/img-1.png) no-repeat
    width: 110px
    height: 141px
  &__img2
    background: url(../img/document/img-2.png) no-repeat
    width: 110px
    height: 141px
  &__img3
    background: url(../img/document/img-3.png) no-repeat
    width: 110px
    height: 141px
  &__img4
    background: url(../img/document/img-4.png) no-repeat
    width: 110px
    height: 141px
  &__text1
    font-size: 11px
    +regular
    text-align: center
  &__img
    display: block
    margin: auto
    



