.navbar
  &-wrap
    display: flex
    padding-top: 13px
    justify-content: space-between
  
  &__logo
    background: url('../img/bg_logo.png') no-repeat
    width: 80px
    height: 160px

  &__mobile
    padding-top: 18px
    text-align: right

  &__free-call
    display: block
    font-size: 14px
    +regular
    margin-bottom: 5px

  &__phone 
    font-size: 17px
    +bold
    text-decoration: none
    color: $text-color
    
  &__title
    font-size: 50px
    +medium
    text-transform: uppercase

  &__subtitle
    font-size: 20px
    +regular
    text-transform: uppercase
    padding-top: 50px
    text-align: center
