.travel
  &-block
    display: flex
    justify-content: space-around
    align-items: center
  &__yoga
    background: url(../img/travel/yoga.png) no-repeat
    background-position: center
    background-size: 100%
    width: 350px
    height: 367px
  &__therapy
    background: url(../img/travel/therapy.png) no-repeat
    width: 780px
    height: 400px
    position: relative
  &__more
    background: url(../img/travel/more.png) no-repeat
    width: 352px
    height: 367px
  &__box
    position: absolute
    top: 40%
    left: 26%
  &__ayurveda
    font-size: 17px
    +medium
    text-align: center
    text-transform: uppercase
    margin: 0 50px
  &__text
    font-size: 14px
    +regular
    text-align: center
   
      
