.yogatour
  &-block
    display: flex
    justify-content: center
  &__img
    background: url(../img/img_yoga.png) no-repeat
    width: 350px
    height: 440px
    margin-top: 45px
  &__box
    max-width: 340px
    margin: 70px 0 0 70px
    color: $text-gray
  &__title
    font-size: 25px
    letter-spacing: 1.5px
    +medium
  &__span
    font-size: 40px
    +medium
    text-transform: uppercase
    padding-top: 15px
  &__text
    font-size: 15px
    +lightitalic
    padding-top: 25px
  &__mat
    background: url(../img/yoga_mat.png) no-repeat
    width: 30px
    height: 20px
  &__mor
    background: url(../img/yoga_more.png) no-repeat
    width: 30px
    height: 22px
  &__telegram
    background: url(../img/yoga_telegram.png) no-repeat
    width: 27px
    height: 28px 
  &__blocks
    display: flex
    padding-top: 15px
  &__yoga, &__more, &__travel 
    padding-left: 15px
    font-size: 16px
    +lightitalic
    text-transform: uppercase
